venv/
env/
*.pyc
__pycache__/
*.pyo
*.pyd
.vscode/
.idea/
*.swp
*.swo
db.sqlite3
*.sqlite3
logs/
*.log
*.out
staticfiles/
static/
media/
node_modules/
.env
.env.local
.env.*.local
*.secret
*/migrations/*.pyc
*/migrations/*.py~
